* {
  font-family: 'Roboto', sans-serif;
}

.a {
  font-size: 100px;
}

strong {
  color: #00a2a2;
}

.button {
  background-color: #00a2a2 !important;
  border: 0;
  padding: 6px 48px !important;
  color: #fff;
}

.buttonContainer {
  display: flex;

  justify-content: space-between;
  padding-bottom: 20px;
}

.dog {
  width: 100%;

  border-radius: 5%;
}
